{% extends "base.html" %}

{% block content %}
  <h1>Article page - {{article.id}}</h1>
  <div>
    {% if article.coverUrl %}
      <img src="{{article.coverUrl}}" width="300" />
    {% endif %}
    <h2>{{article.title}}</h2>
    {% if article.category %}
      <div>{{article.category.title}}</div>
    {% endif %}
    <div>{{article.introHTML | safe}}</div>
    <div>{{article.contentHTML | safe}}</div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{assets.article.js}}"></script>
{% endblock %}
