{% extends "base.html" %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{assets.article.css}}" />
{% endblock %}

{% block content %}
  <div class="article-page">
    <div>
      {% if article.coverUrl %}
        <img src="{{article.coverUrl}}" width="300" />
      {% endif %}

      <h2>{{article.title}}</h2>

      {% if article.category %}
        <div class="category">{{article.category.title}}</div>
      {% endif %}

      <div>{{article.introHTML | safe}}</div>
      <div>{{article.contentHTML | safe}}</div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{assets.article.js}}"></script>
{% endblock %}
