<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>

  {% block styles %}
    <link rel="stylesheet" href="{{assets.common.css}}" />
  {% endblock %}
</head>
<body>
  {% block header %}
    {% include "./partials/header.html" %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
    {% include "./partials/footer.html" %}
  {% endblock %}

  {% block scripts %}
    <script src="{{assets.common.js}}"></script>
  {% endblock %}
</body>
</html>
