{% extends "base.html" %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{assets.home.css}}" />
{% endblock %}

{% block content %}
  <div class="home-page">
    <div class="home-articles-list">
      {% for article in articles %}
        <div class="home-articles-item">
          {% if article.coverUrl %}
            <img src="{{article.coverUrl}}" width="300" />
          {% endif %}
          <h2>{{article.title}}</h2>
          {% if article.slug %}
            <a href="/p/{{article.slug}}">Go to page</a>
          {% else %}
            <a href="/s/{{article.shortId}}">Go to page</a>
          {% endif %}
          {% if article.category %}
            <div>{{article.category.title}}</div>
          {% endif %}
          <div>{{article.introHTML | safe | truncate(300)}}</div>
        </div>
      {% else %}
        <div>This would display if the 'item' collection were empty</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{assets.home.js}}"></script>
{% endblock %}
